# Build directories
bin/
build/

# CMake build artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
cmake_install.cmake

# Compiled objects
*.o
*.a
*.so
*.dll
*.exe

# Compiled shaders
*.spv

# IDE
.vscode/
.idea/
compile_flags.txt

# OS
.DS_Store
Thumbs.db
